//Colours
$primaryWhite: #ffffff;
$labelColor: #a09e9e;
$themeRed: #0E8190;
$lightGrey: #484848;
$mediumGrey: #807676;
$darkGrey: #333333;
$themeBackgroundColor: #E8F3F4;
$red: #e63f3a;
$orange: #fd831a;
$green: #1fb425;
$warmGrey: #707070;
$scrollbarcolor: #ecaba7;
