.export-button {
  margin: 0 2em;
}
.save-cancel-button {
  margin: 0 1em;
}
.table-header{
  font-weight: 300;
}

.seat-available {
  margin-right: 8px;
  p{
    font-size: 12px;
    margin: 0;
  }
  div{
    border: 1px solid black;
    text-align: center;
  }
}