.mark-modal-body-hot-desking {
  height: 20em !important;
  padding-bottom: 20px;
}
.full-width {
  width: 100%;
}
.centerAlign {
  margin: 0 auto;
  width: 90%;
}
.modal-input {
  width: 400;
  margin-bottom: 1rem;
}
