.mark-modal-body{
    height: 9em;
    padding-bottom: 20px; 
}
.full-width{
    width: 100%;
}
/* Chrome, Safari, Edge, Opera */
.phoneInput::-webkit-outer-spin-button,
.phoneInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.phoneInput[type=number] {
  -moz-appearance: textfield;
}